In [8]:
import ast
import glob

import pandas as pd

pd.set_option("display.max_columns", None)

In [68]:
df = pd.concat([pd.read_csv(i) for i in glob.glob("data/prediction/*.csv")])
df["openai_output"] = df.openai_output.apply(lambda x: ast.literal_eval(x))
print(df.shape)
df.head(2)

(387, 14)

,Job ID,Employer,First Seen Date,Title,Occupation Name,City,State,Job_Type,Education,Description,approx_tokens,openai_output,skills,salary
0,70484,Oracle,2023-01-19,Principal Cloud Software Development Engineer ...,"Software Developers, Applications",Unavailable,California,"Full-Time,Permanent",Bachelor's Degree,About Us Oracle Enterprise Performance Managem...,1406,"([(""Oracle Enterprise Performance Management (...",[('Oracle Enterprise Performance Management (E...,"[('California Pay Range: from $104,100 to $241..."
1,44557,Infosys Technologies,2022-08-28,Java Architect,"Software Developers, Applications",Unavailable,Unavailable,"Full-Time,Permanent",Bachelor's Degree,About Job CTC Undisclosed Job Location United ...,792,"([(""Java Architect"", ""job title""), (""Java"", ""s...","[('Java Architect', 'job title'), ('Java', 'sk...","[('Undisclosed', 'United States of America (US..."

In [69]:
df.to_csv("data/combined_tagged_data.csv", index=False)

In [59]:
df.openai_output[0][0]

0    ([("Oracle Enterprise Performance Management (...
0    ([("Sr Java Developer", "job title"), ("San Jo...
0    ([("C", "knowledge area"), ("XML", "technology...
Name: openai_output, dtype: object

In [60]:
system_prompt = "You are a helpful information extraction system."

skill_template = """Given a job description, your task is to extract all entities and identify their entity types. 
Extract specific entities skills (skills could be knowledge area, tools, technology or personal abilities), job title, education qualification,years of experience,location. 
The output should be in a list of tuples of the following format: [("entity 1", "type of entity 1"), ... ]."""

salary_template = '''Given a job description, extract salary ranges by location, type of compensation it could be base or total or NA. 
In the format [("salary range 1", "location 1", "type of compensation 1"), ...].'''

In [61]:
skill_col = []
for _, row in df.iterrows():
    prompt = system_prompt
    instruction = skill_template
    input_query = str(row["Description"])
    response = str(row["openai_output"][0])

    text = prompt + "### Instruction:\n" + instruction + "\n### Input:\n" + input_query + "\n### Response:\n" + response
    skill_col.append(text)

In [62]:
print(skill_col[0])

You are a helpful information extraction system.### Instruction:
Given a job description, your task is to extract all entities and identify their entity types.
Extract specific entities skills (skills could be knowledge area, tools, technology or personal abilities), job title, education qualification,years of experience,location.
The output should be in a list of tuples of the following format: [("entity 1", "type of entity 1"), ... ].
### Input:
About Us Oracle Enterprise Performance Management (EPM) Cloud is an industry-leading SaaS suite of products that helps organizations across the world to model and plan across finance, HR, supply chain, and sales, streamline the financial close process, and drive better decisions. EPM Cloud is deployed in Oracle Cloud Infrastructure (OCI) platform. Our team is responsible for the common software platform on which all EPM Cloud suite of products run. This includes automated provisioning, configuration, deployment, diagnostics, monitoring, capacity planning, security, high availability, disaster recovery, etc. What you’ll do You will work in the product development team on the EPM Cloud common software platform. Your tasks include: - Investigate technical solutions for Oracle relational database design and performance optimization and security challenges based on requirements collected from customers directly or indirectly. - Work with the EPM and non-EPM technical teams to architect and design solutions that will satisfy those requirements using existing and new technologies. - Document the design and project proposals. - Create Proof of Concept code to provide evidence that the suggested design works. - Develop and debug the software for EPM Cloud common software platform and integrate it with Oracle OCI platform. - Perform root cause analysis of complex issues in the production environment, provide solutions in a timely manner, and design enhancements so that the similar issues are not reported in future. - Come up with innovative ideas for continuous improvements to the product. Range and benefit information provided in this posting are specific to the stated location(s) California Pay Range: from $104,100 to $241,000 per annum. May be eligible for bonus and equity. Colorado Pay Range: from $95,900 to $216,900 per annum. May be eligible for bonus and equity. New York City Pay Range: from $99,300 to $229,000 per annum. May be eligible for bonus and equity. Washington Pay Range: from $102,600 to $229,000 per annum. May be eligible for bonus and equity. Oracle maintains broad salary ranges for its roles in order to account for variations in knowledge, skills, experience and market conditions, as well as reflect Oracle’s differing products, industries and lines of business. Candidates are typically placed into the range based on the preceding factors as well as internal peer equity. Oracle offers a comprehensive benefits package which includes the following: 1. Medical, dental, and vision insurance, including expert medical opinion 2. Short term disability and long term disability 3. Life insurance and AD&D 4. Supplemental life insurance (Employee/Spouse/Child) 5. Health care and dependent care Flexible Spending Accounts 6. Pre-tax commuter and parking benefits 7. 401(k) Savings and Investment Plan with company match 8. Flexible paid time off (unlimited or accrued vacation and sick leave) 9. Paid parental leave 10. Employee Stock Purchase Plan 11. Adoption assistance 12. Financial planning and group legal 13. Voluntary benefits including auto, homeowner and pet insurance Required Qualifications - BS in Computer Science - 7+ years of software architecture, design, and development experience. - 4+ years of Oracle relational database design and performance optimization experience. - 2+ years of experience in developing software running in cloud environment - Experience with security technologies (e.g., encryption, antivirus, OAuth, firewall, security testing, etc.) - Proficiency with REST APIs - Proficiency with Linux platform - Strong troubleshooting and performance tuning skills Preferred Qualifications - MS in Computer Science - Experience in developing Java-based applications - Experience with REST APIs - Strong scripting skills (e.g., Bash, Python, Groovy, Perl) As a world leader in cloud solutions, Oracle uses tomorrow’s technology to tackle today’s problems. True innovation starts with diverse perspectives and various abilities and backgrounds. When everyone’s voice is heard, we’re inspired to go beyond what’s been done before. It’s why we’re committed to expanding our inclusive workforce that promotes diverse insights and perspectives. We’ve partnered with industry-leaders in almost every sector—and continue to thrive after 40+ years of change by operating with integrity. Oracle careers open the door to global opportunities where work-life balance flourishes. We offer a highly competitive suite of employee benefits designed on the principles of parity and consistency. We put our people first with flexible medical, life insurance and retirement options. We also encourage employees to give back to their communities through our volunteer programs. We’re committed to including people with disabilities at all stages of the employment process. If you would like accessibility assistance or accommodation for a disability at any point, let us know at +1.888.404.2494, Option 1. Disclaimer: Certain US customer or client-facing roles may be required to comply with applicable requirements, such as immunization and occupational health mandates. Oracle is an Equal Employment Opportunity Employer*. All qualified applicants will receive consideration for employment without regard to race, color, religion, sex, national origin, sexual orientation, gender identity, disability and protected veterans’ status, or any other characteristic protected by law. Oracle will consider for employment qualified applicants with arrest and conviction records pursuant to applicable law. * Which includes being a United States Affirmative Action Employer
### Response:
[("Oracle Enterprise Performance Management (EPM) Cloud", "job title"),
("SaaS", "technology"),
("finance", "knowledge area"),
("HR", "knowledge area"),
("supply chain", "knowledge area"),
("sales", "knowledge area"),
("financial close process", "knowledge area"),
("Oracle Cloud Infrastructure (OCI)", "technology"),
("automated provisioning", "skill"),
("configuration", "skill"),
("deployment", "skill"),
("diagnostics", "skill"),
("monitoring", "skill"),
("capacity planning", "skill"),
("security", "skill"),
("high availability", "skill"),
("disaster recovery", "skill"),
("technical solutions", "skill"),
("Oracle relational database design", "skill"),
("performance optimization", "skill"),
("security challenges", "skill"),
("EPM", "technology"),
("non-EPM technical teams", "technology"),
("architect", "job title"),
("design solutions", "skill"),
("document", "skill"),
("project proposals", "skill"),
("Proof of Concept code", "skill"),
("software", "skill"),
("root cause analysis", "skill"),
("complex issues", "skill"),
("production environment", "skill"),
("solutions", "skill"),
("enhancements", "skill"),
("continuous improvements", "skill"),
("California", "location"),
("Colorado", "location"),
("New York City", "location"),
("Washington", "location"),
("BS in Computer Science", "education qualification"),
("7+ years of software architecture, design, and development experience", "years of experience"),
("4+ years of Oracle relational database design and performance optimization experience", "years of experience"),
("2+ years of experience in developing software running in cloud environment", "years of experience"),
("security technologies", "skill"),
("encryption", "skill"),
("antivirus", "skill"),
("OAuth", "skill"),
("firewall", "skill"),
("security testing", "skill"),
("REST APIs", "skill"),
("Linux platform", "skill"),
("troubleshooting", "skill"),
("performance tuning", "skill"),
("MS in Computer Science", "education qualification"),
("Java-based applications", "skill"),
("scripting skills", "skill"),
("Bash", "skill"),
("Python", "skill"),
("Groovy", "skill"),
("Perl", "skill")]

In [63]:
salary_col = []
for _, row in df.iterrows():
    prompt = system_prompt
    instruction = salary_template
    input_query = str(row["Description"])
    response = str(row["openai_output"][1])

    text = prompt + "### Instruction:\n" + instruction + "\n### Input:\n" + input_query + "\n### Response:\n" + response
    salary_col.append(text)

In [64]:
print(salary_col[1])

You are a helpful information extraction system.### Instruction:
Given a job description, extract salary ranges by location, type of compensation it could be base or total or NA.
In the format [("salary range 1", "location 1", "type of compensation 1"), ...].
### Input:
About Job CTC Undisclosed Job Location United States of America (USA) Experience 7 - 10 yrs Description Infosys is seeking a Java Architect. In this position, you will interface with key stakeholders and apply your technical proficiencies across different stages of the Software Development Life CycleSDLC including Requirements Elicitation, Application Architecture definitions & designs through Technologies and Systems' level considerations. You will play an important role in creating the high & low level design artifacts, and also deliver high quality code deliverables. As an Architect, you'll guide team through technical designs' & delivery related challenges, and support activities related to transition, deployments, prod support/triage and warranty aspects to meet our clients business needs. You will be part of a learning culture, where teamwork and collaboration are encouraged, excellence is rewarded, and diversity is respected and valued. Required Qualifications: Candidate must be located within commuting distance of Tampa, FL/Richardson, TX or be willing to relocate to the area. This position may require travel in the US. Bachelors degree or foreign equivalent required from an accredited institution. Will also consider three years of progressive experience in the specialty in lieu of every year of education. 7 years of experience with Information Technology U.S. citizens and those authorized to work in the U.S. are encouraged to apply, we are unable to sponsor at this time. Preferred Qualifications: Experience of Java, Spring boot, Microservices, Angular/Node JS & ORACLE, Scripting languages Experience working on one of DB technologies, writing PL-SQL queries using either Oracle or Postgres Experience of working ReactJS, Node.js, WebLogic Knowledge and experience with full SDLC lifecycle Experience with Lean / Agile development methodologies Knowledge in Telecom Domain highly desirable Primary ownership of Application architectures, designs, implementations, and deployments Evaluate dependencies & options through optimal considerations of Technologies & impacted Systems Ensuring delivery alignments and compliances to Domain & Security aspects alongside customers business requirements Applying industry standard design patterns & frameworks, including adoption of Emerging & Open Source technologies as applicable Guide & review team deliverables throughout SDLC phases to ensure high quality code deliverables Design and implementation measures to meet Telco grade Scalability, Performance and Availability factors for target platforms, applications and services Assist in high impact production support, defect triages & resolution pursuits As a technology champion, represent the team(s) in various customer events and meetups. Experience in Java Functional programming. Experience in programming with Python. Experience working on Jenkins, Gitlab, Blue Ocean, Secure-coding: SonarQube & Fortify, Docker Enterprise, K8, AWS. Experience in application design using design principles, patterns and best practices Excellent verbal and written communication skills Experience and desire to work in a Global delivery environment
### Response:
[("Undisclosed", "United States of America (USA)", "NA"), ("Undisclosed", "Tampa, FL/Richardson, TX", "NA")]

In [65]:
df.loc[:, "skill_text"] = skill_col
df.loc[:, "salary_text"] = salary_col
df.head()

,Job ID,Employer,First Seen Date,Title,Occupation Name,City,State,Job_Type,Education,Description,approx_tokens,openai_output,skills,salary,skill_text,salary_text
0,70484,Oracle,2023-01-19,Principal Cloud Software Development Engineer ...,"Software Developers, Applications",Unavailable,California,"Full-Time,Permanent",Bachelor's Degree,About Us Oracle Enterprise Performance Managem...,1406,"([(""Oracle Enterprise Performance Management (...",[('Oracle Enterprise Performance Management (E...,"[('California Pay Range: from $104,100 to $241...",You are a helpful information extraction syste...,You are a helpful information extraction syste...
1,44557,Infosys Technologies,2022-08-28,Java Architect,"Software Developers, Applications",Unavailable,Unavailable,"Full-Time,Permanent",Bachelor's Degree,About Job CTC Undisclosed Job Location United ...,792,"([(""Java Architect"", ""job title""), (""Java"", ""s...","[('Java Architect', 'job title'), ('Java', 'sk...","[('Undisclosed', 'United States of America (US...",You are a helpful information extraction syste...,You are a helpful information extraction syste...
2,36072,IBM,2022-01-20,Sr. Data Architect (Data Lake / Hadoop) – Remo...,"Software Developers, Applications",Unavailable,Unavailable,"Full-Time,Permanent",Bachelor's Degree,"Introduction At IBM, work is more than a job –...",1166,"([(""IBM"", ""company""), (""Data Systems"", ""team"")...","[('IBM', 'company'), ('Data Systems', 'team'),...","[('NA', 'NA', 'NA')]",You are a helpful information extraction syste...,You are a helpful information extraction syste...
3,46296,JPMorgan Chase & Co.,2023-06-27,Software Engineer II-Data Lake,"Software Developers, Applications",Bangalore,Karnātaka,"Full-Time,Permanent",Bachelor's Degree,External Description Str : Join an agile team ...,708,"([(""Software Engineer II"", ""job title""), (""JPM...","[('Software Engineer II', 'job title'), ('JPMo...","[('NA', 'NA', 'NA')]",You are a helpful information extraction syste...,You are a helpful information extraction syste...
4,89749,Unitedhealth Group,2022-11-07,"Senior Software Engineer - Minnetonka, MN","Software Developers, Applications",Hopkins,Minnesota,"Part-Time,Full-Time,Permanent",Bachelor's Degree,Optum is a global organization that delivers c...,988,"([(""Optum"", ""organization""), (""technology"", ""k...","[('Optum', 'organization'), ('technology', 'kn...","[('NA', 'NA', 'NA')]",You are a helpful information extraction syste...,You are a helpful information extraction syste...

In [66]:
train = pd.concat([df[["Job ID", "skill_text"]].rename(columns={"skill_text": "text"}), 
        df[["Job ID", "salary_text"]].rename(columns={"salary_text": "text"})])\
        .reset_index(drop=True)
print(train.shape)
train.head()

(774, 2)

   Job ID                                               text
0   70484  You are a helpful information extraction syste...
1   44557  You are a helpful information extraction syste...
2   36072  You are a helpful information extraction syste...
3   46296  You are a helpful information extraction syste...
4   89749  You are a helpful information extraction syste...

In [67]:
train.to_csv("data/train.csv", index=False)